/* header pour les pages restaurants*/
.header_2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &_flèche{
        font-size: 22px;
        color: #5D5A5A;
        position: absolute;
        left: 20px;
    }
}
/*Bannière des pages*/
.bannière{
    &_img{
        object-fit: cover;
        width: 100%;
        height: 300px;
        display: block;
    }
}
/*Parti avec les plat*/
.menu{
    background-color: #f2f2f2;
    position: relative;
    margin-top: -40px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding-top: 20px;
    h1{
        margin: 0 20px;
        padding-top: 0;
        font-family: "Shrikhand";
        font-size: 30px;
    }
    &_heart{
        position: absolute;
        right: 20px;
        top: 30px;
        font-size: 25px;
    }
    &_heart-full{
        font-size: 25px;
        position: absolute;
        align-self: center;
        right: 20px;
        top:30px;
        background: -webkit-linear-gradient(bottom,$color-secondary,$color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: all,400ms;
        &:hover{
        opacity: 1;
        transform: scale(1.1);
        }
    }
    &_bloc{
        margin: 10px 20px;
        &_plat{
            h2{
                font-weight: lighter;
                color: #5D5A5A;
                border-bottom: 4px solid $color-tertiary;
                width: 14%;
                font-size: 18px;
                padding-bottom: 7px;
            }
            &_descrition{
                opacity: 0;
                display: flex;
                box-shadow: 0 4px 10px lightgray;
                margin: 20px 0 0 0;
                border-radius: 15px;
                background-color: white;
                overflow: hidden;
                animation: show 1s forwards;
                @for $i from 1 through 4 {
                    &:nth-child(#{$i}n) {
                        animation-delay: #{$i * 0.2}s;
                    }
                }
                h3{
                    margin: 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                &_container{
                    padding: 10px;
                    width: 100%;
                    overflow: hidden;
                        &_p{
                        display: flex;
                        justify-content: space-between;
                        &_text{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin: 7px 0 0 0;
                            font-size: 15px;
                            color: #5D5A5A;
                        }
                        &_prix{
                            font-weight: bold; 
                            margin-right: 20px;
                            margin: 7px 14px 0 14px;                  
                        }
    
                    }
                }
                &_check{
                    align-self: center;
                    background-color: $color-tertiary;
                    overflow: hidden;
                    &_icon{
                        color:white;
                        background-color: $color-tertiary;
                        font-size: 25px;
                        padding: 25px;
                        margin-right: -75px;
                    }
                }
            &:hover .menu_bloc_plat_descrition_check_icon{
                margin-right: 37px;
                transition: all 400ms ;
                transform: rotate(1turn);
            }
            }
        }
    }
}
/*Bouton commander*/
.commander {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    &_style{
      border-radius: 30px;
      background: linear-gradient(#FF79DA, 42%, #9356DC);
      padding: 0 10px 0 10px;
      color: white;
      text-decoration: none;
      padding: 16px;
      box-shadow: 0 7px 7px lightgray;
      display: flex;
      justify-content: center;
      width: 45%;
    }
  }

/*Bas de page contenant des informations utiles*/
footer{
    background-color: #353535;
    padding: 19px;
    h3{
        margin: 0 0 10px 0;
        font-family: 'Shrikhand',sans-serif;
        color: white;
        font-size: 20px;
    }
}
.infos{
    display: flex;
    flex-direction: column;
    &_bloc{
        margin: 8px 0;
        &_liens{
            color: white;
            text-decoration: none;
            i{
                padding-right: 13px;
                width: 5%;
            }
        }
    }
}