@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
* p {
  font-size: 17px;
}

body {
  margin: 0;
}

h3 {
  margin-bottom: 0;
}

/*Bas de page contenant des informations utiles*/
footer {
  background-color: #353535;
  padding: 19px;
}
footer h3 {
  margin: 0 0 10px 0;
  font-family: "Shrikhand", sans-serif;
  color: white;
  font-size: 20px;
}

.infos {
  display: flex;
  flex-direction: column;
}
.infos_bloc {
  margin: 8px 0;
}
.infos_bloc_liens {
  color: white;
  text-decoration: none;
}
.infos_bloc_liens i {
  padding-right: 13px;
  width: 5%;
}

/*Le header*/
header {
  height: 60px;
}

.header_logo {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 15px gray;
}

.logo {
  height: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/*Localisation*/
.localisation {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}
.localisation_icon--color {
  color: #5D5A5A;
}
.localisation_text {
  margin: 0 30px 0 20px;
  font-weight: bold;
  color: #5D5A5A;
}

/*Description site*/
.bloc-description {
  height: 270px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;
  text-align: center;
}
.bloc-description_titre {
  margin: 35px 0 10px 0;
}
.bloc-description_p {
  color: #5D5A5A;
  margin-top: 0;
}
.bloc-description_boutton {
  border-radius: 30px;
  background: linear-gradient(#FF79DA, 42%, #9356DC);
  padding: 0 10px 0 10px;
  color: white;
  text-decoration: none;
  padding: 16px;
  box-shadow: 0 7px 7px lightgray;
}

/*Fonctionnement du site*/
.bloc-fonction {
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.bloc-fonction_carte {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 15px;
}
.bloc-fonction_carte_span {
  background-color: #9356DC;
  color: white;
  position: absolute;
  left: -15px;
  border-radius: 20px;
  padding: 5px 10px;
}
.bloc-fonction_carte_p {
  height: 70px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 17px;
  font-weight: bold;
  box-shadow: 0 7px 7px lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bloc-fonction_carte_p_icon {
  color: gray;
  display: flex;
  position: absolute;
  left: 35px;
}
.bloc-fonction_carte_p:hover {
  background-color: #EAD1F6;
}

/*Section contenant les liens pour les différent restaurants*/
.bloc-lien {
  background-color: #f2f2f2;
  padding: 20px;
}
.bloc-lien_a {
  display: block;
  height: 295px;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  box-shadow: 0 7px 7px lightgray;
  position: relative;
  transition: all, 400ms;
}
.bloc-lien_a:hover {
  box-shadow: 0 0 7px #9356DC;
  transform: scale(1.1);
}
.bloc-lien_a_img {
  height: 220px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  object-fit: cover;
}
.bloc-lien_a_new {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  color: green;
  padding: 10px;
  font-weight: bold;
  font-size: 13px;
  border-radius: 3px;
  margin: 0;
}
.bloc-lien_a_info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
}
.bloc-lien_a_info p {
  margin: 5px 0;
}
.bloc-lien_a_info h3 {
  margin-top: 10px;
}
.bloc-lien_a_info_icon {
  font-size: 25px;
  position: absolute;
  align-self: center;
  right: 20px;
}
.bloc-lien_a_info_icon_full {
  font-size: 25px;
  position: absolute;
  align-self: center;
  right: 20px;
  background: -webkit-linear-gradient(bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all, 400ms;
}
.bloc-lien_a_info_icon_full:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media screen and (min-width: 992px) {
  .bloc-lien_resto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .bloc-lien_a {
    width: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
