@keyframes show {
    0% {
        transform: scale(0);
        opacity: 0;

    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        color: $color-primary;
        text-shadow: 0 0 7px $color-secondary;
    }
    90% {
        color: $color-primary;
        text-shadow: none;
    }
    100% {
        color: $color-primary;
        text-shadow: 0 0 7px $color-secondary;
    }
}