@keyframes show {
    0% {
        transform: translateY(50%);
        opacity: 0;

    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        color: $color-primary;
        text-shadow: 0 0 7px $color-secondary;
    }
    90% {
        color: $color-primary;
        text-shadow: none;
    }
    100% {
        color: $color-primary;
        text-shadow: 0 0 7px $color-secondary;
    }
}
@keyframes page {
    from{
        opacity: 1;
        transform: translateY(-50px);
        z-index: 1;
    }
    to {
        opacity: 0;
        transform: translateY(0);
    }

}
