/*Le header*/
header{
    height: 60px;
}
.header_logo{
    display: flex;
    justify-content: center;
    box-shadow: 0 0 15px gray;
}
.logo{
    height:30px;
    margin-top: 15px;
    margin-bottom: 10px;
}
/*Localisation*/
.localisation{
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    &_icon--color{
        color: #5D5A5A;
    }
    &_text{
        margin: 0 30px 0 20px;
        font-weight: bold;
        color: #5D5A5A;
    }
}
/*Description site*/
.bloc-description{
    height:270px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
    text-align: center;
    &_titre{
        margin: 35px 0 10px 0;
    }
    &_p{
        color: #5D5A5A;
        margin-top: 0;
    }
    &_boutton{
        border-radius: 30px;
        background: linear-gradient($color-secondary,42%,$color-primary);
        padding: 0 10px 0 10px;
        color: white;
        text-decoration: none;
        padding:16px;
        box-shadow: 0 7px 7px lightgray;
    }
}
/*Fonctionnement du site*/
.bloc-fonction{
    height: 400px;
    display: flex;
    flex-direction: column;
    padding:20px;
    &_carte{
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 15px;
        &_span{
            background-color: $color-primary;
            color: white;
            position: absolute;
            left: -15px;
            border-radius: 20px;
            padding: 5px 10px;
        }
        &_p{
            height: 70px;
            width: 100%;
            background-color: #f2f2f2;
            border-radius: 17px;
            font-weight: bold;
            box-shadow: 0 7px 7px lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            &--color{
                height: 70px;
                width: 100%;
                background-color: #f5edff;
                border-radius: 17px;
                font-weight: bold;
                box-shadow: 0 7px 7px lightgray;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &_icon{
                color: gray;
                position: absolute;
                left: 35px;
                &--color{
                    color: $color-primary;
                    position: absolute;
                    left: 35px;
                }   
            }
        }    
    }
}
/*Section contenant les liens pour les différent restaurants*/
.bloc-lien{
    background-color: #f2f2f2;
    padding: 20px;
    &_a{
        display: block;
        height: 295px;
        background-color: white;
        border-radius: 20px;
        width: 100%;
        text-decoration: none;
        color: black;
        margin-bottom: 20px;
        box-shadow: 0 7px 7px lightgray;
        position: relative;
        transition: all,400ms;
        &:hover{
            box-shadow: 0 0 7px $color-primary;
            transform: scale(1.1);
        }
        &_img{
            height: 220px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            width: 100%;
            object-fit: cover;
        }
        &_new{
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: $color-tertiary;
            color: green;
            padding: 10px;
            font-weight: bold;
            font-size: 13px;
            border-radius: 3px;
            margin: 0;
        }
        &_info{
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            position: relative;
            p{
                margin: 5px 0;
            }
            h3{
                margin-top: 10px;
            }
            &_icon{
                font-size: 25px;
                position: absolute;
                align-self: center;
                right: 20px;
            }
            &_icon_full{
                font-size: 25px;
                position: absolute;
                align-self: center;
                right: 20px;
                background: -webkit-linear-gradient(bottom,$color-secondary,$color-primary);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                transition: all,400ms;
                &:hover{
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }
    }
}
@media screen and (min-width:992px){
    .bloc-lien_resto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .bloc-lien_a{
        width: 40%;
    }
    .bloc-fonction{
        height: 230px;
    }
    .container_carte{
        display: flex;
    }
    .bloc-fonction_carte{
        width: 31%;
    }
    h2{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    .infos_bloc_liens i{
        width: auto;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    h2{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    .infos_bloc_liens i{
        width: auto;
    }
}
