/*Le header*/
header{
    height: 60px;
}
.header_logo{
    display: flex;
    justify-content: center;
    box-shadow: 0 0 15px gray;
}
.logo{
    height:30px;
    margin-top: 15px;
    margin-bottom: 10px;
}
/*Localisation*/
.localisation{
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    &_icon--color{
        color: #5D5A5A;
    }
    &_text{
        margin: 0 30px 0 20px;
        font-weight: bold;
        color: #5D5A5A;
    }
}
/*Description site*/
.bloc-description{
    height:270px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
    text-align: center;
    &_titre{
        margin: 35px 0 10px 0;
    }
    &_p{
        color: #5D5A5A;
        margin-top: 0;
    }
    &_boutton{
        border-radius: 30px;
        background: linear-gradient($color-secondary,42%,$color-primary);
        padding: 0 10px 0 10px;
        color: white;
        text-decoration: none;
        padding:16px;
        box-shadow: 0 7px 7px lightgray;
    }
}
/*Fonctionnement du site*/
.bloc-fonction{
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    &_carte{
        display: flex;
        align-items: center;
        position: relative;
        &_span{
            background-color: $color-primary;
            color: white;
            position: absolute;
            left: -15px;
            border-radius: 20px;
            padding: 5px 10px;
        }
        &_p{
            height: 70px;
            width: 100%;
            background-color: #f2f2f2;
            border-radius: 17px;
            font-weight: bold;
            box-shadow: 0 7px 7px lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            &_icon{
                color: gray;
                display: flex;
                position: absolute;
                left: 35px;
            }
        
        }
        &_p:hover{
            background-color: #EAD1F6;
        }
    }
}